.enter-name {
  display: inline-block;
    text-align: left;
    box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #ffffff;
    backdrop-filter: blur(8px);
    padding: 4rem;
    border-radius: 3rem;
    background: rgb(228 235 245 / 72%);
}

.enter-name-container {
  width: 100vw;
  text-align: center;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.enter-name-question {
  color: #000000;
}

input#enter-name {
  outline: none;
    background: rgb(228 235 245 / 72%);
    font-size: 1.5rem;
    border: 0;
    color: #000000;
    text-align: left;
    box-shadow: inset 0.2rem 0.2rem 0.5rem #c8d0e7, inset -0.2rem -0.2rem 0.5rem #fff;
    border-radius: 1rem;
    backdrop-filter: blur(8px);
    height: 4rem;
}

.enter-name-question {
  font-size: 1rem;
  text-align: left;
}

@media only screen and (max-width: 961px) {
  .enter-name {
    padding: 1rem;
    border-radius: 1rem;
  }
}