.prizes-container {
  margin-top: 1rem;
  /* this is just to make page a little bit scrollable */
  margin-bottom: 5rem;
  box-shadow: 0.8rem 0.8rem 1.4rem #c8d0e7, -0.2rem -0.2rem 1.8rem #fff;
    border-radius: 10px;
    color: #000;
    background-color: rgb(228 235 245/80%);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
    height: 100%;
}

table.prizes {
  width: 100%;
  border-spacing: 0.75rem;
  color: #000000;
}

table.prizes tr {
  box-sizing: border-box;
  text-align: center;
}

table.prizes td.award {
  width: 30%;
}

table.prizes td.left {
  width: 20%;
  color: #000000;
}

table.prizes td.won-by {
  width: 50%;
}

table.prizes > tr > th {
  box-sizing: border-box;
  font-size: 1.2rem;
  padding: 0;
  height: 3rem;
  background-color: #374051;
  color: 000000;
}

.zero-awards-left {
  color: #000000;
}
