p.waiting {
  font-size: 1rem;
  color: #000000;
  margin-top: 1rem;
}

.game-over {
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}

.timer {
  color: #000000;
  padding-left: 3px;
}
